.home {
	.home {
		background-color: var(--link-color);
		cursor: default;
	}
}

.html {
	--body-base: var(--html-base);
	--selection-color: var(--html-base);
	--link-color: var(--html-base);
	--heading-color: var(--html-base);

	.html {
		background-color: var(--link-color);
		cursor: default;
	}
}

.css {
	--body-base: var(--css-base);
	--selection-color: var(--css-base);
	--link-color: var(--css-base);
	--heading-color: var(--css-base);

	.css {
		background-color: var(--link-color);
		cursor: default;
	}
}

.js {
	--body-base: var(--js-base);
	--selection-color: var(--js-base);
	--link-color: var(--js-base);
	--heading-color: var(--js-base);

	.js {
		background-color: var(--link-color);
		cursor: default;
	}

	.masthead svg {
		width: 3.5rem;
		height: 3.5rem;
	}
}

.cli {
	--body-base: var(--cli-base);
	--selection-color: var(--cli-base);
	--link-color: var(--cli-base);
	--heading-color: var(--cli-base);

	.cli {
		background-color: var(--link-color);
		cursor: default;
	}
}
