/* Bad CSS */
.selector, .selector-secondary, .selector[type=text] {
    margin-bottom: 15px;
    box-shadow: 0 1px 2px #ccc, inset 0 1px 0 #fff;
    background-color: rgba(0,0,0,.5);
    padding: 15px;
}

/* Good CSS */
.selector,
.selector-secondary,
.selector[type="text"] {
    box-shadow: 0 1px 2px #ccc, inset 0 1px 0 #fff;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(0, 0, 0, .5);
}
