<section class="section" id="commenting-code">
	<h2>Commenting Code</h2>
	<p>Commenting code is an important and effective tool for communicating deeper what can't always be said with code. I've found that <a href="https://sarahdrasnerdesign.com/">Sarah Drasner</a>'s article on <a href="https://css-tricks.com/the-art-of-comments/">The Art of Comments</a> details the best way to comment code.</p>
	<blockquote><p>Code can describe how, but it cannot explain why.</p></blockquote>
	<p>Consider a few things when writing code and attempting to decide whether or not it deserves some comments:</p>
	<ol>
		<li>Future you doesn't always remember why present you decided to write something a particular way. Code styles change, support requirements change, and sometimes what was seemed clear and legible at the time is not always by everyone else.</li>
		<li>Not everyone comes from the same backgrounds nor experiences. Don't assume that because you understand it, everyone on the team will. That doesn't make them less smart, but maybe makes your solution a bit more creative. Explain the why so everyone can learn.</li>
		<li>Comments allow one to break up code into smaller readable chapters of code. Smaller sections of code provide a developer with easier and more manageable chunks to read through.</li>
		<li>Sometimes deadlines come up faster than expected; leaving comments can provide a roadmap for what was done given the divergence from what was intended.</li>
		<li>Did you take a snippet from another site? Or did you copy a solution from StackOverlow? No problem. Write a comment to leave a paper trail for others to follow or to credit the source.</li>
		<li>If there is an open discussion on GitHub or StackOverflow about the code or approach you're using, include the link in your comment.</li>
	</ol>
	<p><strong>Tip:</strong> Keep your README.md updated as a project evolves.</p>
</section>
