<section class="section" id="editor-prefs">
	<h2>Editor preferences</h2>
	<p>Set your editor to the following settings to avoid common code inconsistencies and dirty diffs:</p>
	<ul>
		<li>Use <a href="http://lea.verou.me/2012/01/why-tabs-are-clearly-superior/">tabs</a> set to four spaces.</li>
		<li>Trim trailing white space on save.</li>
		<li>Set encoding to UTF-8.</li>
		<li>Add new line at end of files.</li>
	</ul>
	<p><strong>Tip:</strong> Document and apply these preferences to your project's <code>.editorconfig</code> file. For an example, see <a href="{{ site.repo }}/blob/master/.editorconfig">the one in this repo</a>. Learn more <a href="https://editorconfig.org">about EditorConfig</a>.</p>
</section>
