<section class="section" id="golden-rule">
	<h2>Golden Rule</h2>
	<p>Enforce these, or your own, agreed upon guidelines at all times. Small or large, call out what's incorrect. For additions or contributions to this Code Guide, please <a href="{{ site.repo }}/issues/new">open an issue on GitHub</a>. When in doubt or not explicity specified, use existing common patterns.</p>
	<blockquote>
		<p>Part of being a good steward to a successful project is realizing that writing code for yourself is a Bad Idea™. If thousands of people are using your code, then write your code for maximum clarity, not your personal preference of how to get clever within the spec.</p>
		<cite>- Idan Gazit</cite>
	</blockquote>
</section>
