<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
		<meta name="description" content="{{ site.description }}" />

		<title>{{ site.name }}</title>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="canonical" href="{{ site.url }}">
		<link rel="stylesheet" href="{{ site.url }}/styles.css">
	</head>
	<body class="{% if page.title %}{{ page.title | downcase }}{% else %}home{% endif %}">
		{% include navigation.html %}
		{% include header.html %}
		<main class="container main" role="main">{{ content }}</main>
		{% include footer.html %}
	</body>
</html>
